<footer class="text-center text-lg-start text-white" style="background-color: #1c2331">

    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">

        <div class="me-5">
            <span id="time" class="fs-4">Follow our Socials</span>
        </div>



    </section>

    <section class="">
        <div class="container text-center text-md-start mt-5">

            <div class="row mt-3">

                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold">DARK KNIGHT ESPORTS</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        Address:
                        Blk 24 Lot 84 Tuna Street Maypajo Brgy.28 1409 Caloocan, Philippines
                        <hr>
                        Built by Champions. No fear like Champions. 
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <h6 class="text-uppercase fw-bold">Social Medias</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="https://www.facebook.com/vincent.u.ontal" class="text-white">Facebook</a>
                    </p>
                    
                    <p>
                        <a href="https://www.instagram.com/champ.papi11/" class="text-white">Instagram</a>
                    </p>

                </div>
            </div>

        </div>
    </section>



    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        DKE © 2023 Copyright:
        <a class="text-white" href="">Dark Knight Esports</a>
    </div>

</footer>