<%-include ('partials/header.ejs') %>
<%-include ('partials/main_navi.ejs') %>
<div class="row">
    <div class="col p-5">
<div class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Team Members:</h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\andreHover.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\baste.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\borgy.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\cent.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\joseph.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\KEVIN.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\malic.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\mark.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\narc1st.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-6 col-md-4 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\raff.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col p-5"><h3>
        Introducing Dark Knight Esports, a formidable and passionate force in the world of competitive gaming.
        Our team is more than just a group of skilled individuals; we are a family bound by the shared pursuit of excellence in the virtual arena.
        <br>
        <br>
        Dark Knight Esports competes across a diverse range of popular gaming genres, from the intense world of first-person shooters to the strategic realm of MOBAs. 
        Our versatile lineup showcases our ability to dominate in multiple game genres, a testament to our adaptability and skill. We're always on the lookout for new opportunities to expand our horizons and welcome new challenges.
    </h3>
</div>
<div class="container">
    <div class="col p-5">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0"> Achievements: </h1>
  
    <hr class="mt-2 mb-5">
  
    <div class="row text-center text-lg-start">
  
      <center><div class="col-lg-7 col-md-5 col-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="pictures\Sntry.jpg" alt="">
        </a>
      </div></center>
    </div>
    <div class="row">
        <div class="col p-5">
            <center><h2>
            Introducing Dark Knight Esports,
            <br>
            <br>
        </h2></center>
        <center><h1>2022 Sntry Season3 Valorant Online Tournament Champions!</h1></center>
            <br>
            <br>
        
    </div>
</div>
<%-include ('partials/bottom_navi.ejs') %>
<%-include ('partials/footer.ejs') %>