<%-include ('partials/header.ejs') %>
<%-include ('partials/main_navi.ejs') %>
<div class="container text-center text-md-start mt-5 fs-5">

    <div class="row mt-3">
        <h1>Contacts:</h1>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">DARK KNIGHT ESPORTS</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
                Address:
                1594 Pharmacy Ave. Scarborough, Toronto, Ontario
                <hr>
                Contact Number:
                <hr>
                +1 (437-436-0182)
            </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold">Social Media</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <p>
                <a href="https://www.facebook.com/vincent.u.ontal" class="text-black">Facebook</a>
            </p>
            <p>
                <a href="https://www.instagram.com/champ.papi11/" class="text-black">Instagram</a>
            </p>
            <p>
                <a href="files/Vincent Ontal.pdf" class="text-black">Resume</a>
            </p>
        </div>
    </div>
    <div class="container p-5">
        Career Opportunities:

Join Our Team:
For those interested in career opportunities with Dark Knight Esports, visit our Careers page on our website to find the latest job postings and application instructions.
<br>
<br>
Dark Knight Esports is always excited to hear from fans, potential partners, and those interested in contributing to our mission. We look forward to connecting with you and appreciate your support as we continue our journey in the world of competitive gaming.
    </div>
</div>
<%-include ('partials/bottom_navi.ejs') %>
<%-include ('partials/footer.ejs') %>