<%-include ('partials/header.ejs') %>
<%-include ('partials/main_navi.ejs') %>
<div class="row p-5">
    <div class="col -lg-12"><center>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="pictures/socials.jpg" class="d-block w-100" style="height: 800px; width: 500px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="pictures/socials2.jpg" class="d-block w-100" style="height: 800px; width: 500px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="pictures/socials3.jpg" class="d-block w-100" style="height: 800px; width: 500px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="pictures/socials4.jpg" class="d-block w-100" style="height: 800px; width: 500px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="pictures/socials5.jpg" class="d-block w-100" style="height: 800px; width: 500px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="pictures/socials6.jpg" class="d-block w-100" style="height: 800px; width: 500px;" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div></center>
</div>
<div class="row">
    <div class="col p-5"><h3>
        Hello Everyone, I am Vincent Ontal, a member and the former team captain of the DK esports.
    </h3>
    <br>
    <br>
    <h3>
        We created this group in summer 2021, we are a group of gamers who love to play and compete in every tournament. This group of players are once called a Champion in the Sntry Valorant Tournament 2022! 
        Come on and play with us now.
    </h3>
</div>
    
</div>
<%-include ('partials/bottom_navi.ejs') %>
<%-include ('partials/footer.ejs') %>